In [11]:
data is None

False

In [1]:
import pandas as pd
import prepare_data

data = pd.read_csv("../Дамп событий 2019-2022 utf8.csv", on_bad_lines='skip', sep=";")

data = prepare_data.convert_to_datetime(data)
data = prepare_data.digitize_event_category_col(data)
data = prepare_data.sort_by_event_date(data)

/opt/homebrew/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
intervals = get_intervals_between_event_and_result_event(data, event_categories.EVENTS["МАСТИТ"])

/var/folders/9v/qzyz5rrn3zq_d8tg4jxv2_p40000gn/T/ipykernel_64408/283021978.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  result_events = rows_in_date_range[df_cow_rows['Событие'].isin(

In [2]:
from create_dataset import *
from filter_rows import *

In [14]:
data[data["Номер животного"] == 502124]

,Номер животного,Ушная бирка животного,Пол,Номер лактации,Результат отела,Легкость отела,Дата рождения,Дней в сухостое предыдущей лактации,Дней стельности при событии,Номер группы животного,Предыдущий номер группы животного,Событие,Дни доения при событии,Дата события,Примечание события
4440,502124,502124,F,3,FA,1,2015-02-18,146,0,3,2,9,23,2019-03-10,МВ
4441,502124,502124,F,3,FA,1,2015-02-18,146,0,3,2,9,24,2019-03-11,МВ
4442,502124,502124,F,3,FA,1,2015-02-18,146,0,3,2,7,25,2019-03-12,ГИНЕКОЛ
4443,502124,502124,F,3,FA,1,2015-02-18,146,0,3,2,9,25,2019-03-12,КМ5_12
4445,502124,502124,F,3,FA,1,2015-02-18,146,0,3,2,9,26,2019-03-13,КМ3_12
4444,502124,502124,F,3,FA,1,2015-02-18,146,0,3,2,9,26,2019-03-13,КМ6_12
4446,502124,502124,F,3,FA,1,2015-02-18,146,0,3,2,9,36,2019-03-23,КМ5_123
4447,502124,502124,F,3,FA,1,2015-02-18,146,0,3,2,12,45,2019-04-01,ВЫМЯ
4448,502124,502124,F,3,FA,1,2015-02-18,146,0,3,2,19,49,2019-04-05,ПРОДАНА ; МясоКомбинат ; УВЗ13

In [3]:
source_data = prepare_data.get_source_data()

intervals = get_intervals_between_event_and_result_event(source_data, event_categories.EVENTS["МАСТИТ"])
indexes = get_event_row_indexes(intervals)
dataset = filter_rows_by_indexes(source_data, indexes)
# dataset = add_empty_protocol_columns(dataset)
# dataset = add_empty_udder_parts_number_column(dataset)

/var/folders/9v/qzyz5rrn3zq_d8tg4jxv2_p40000gn/T/ipykernel_70226/533695908.py:1: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  source_data = prepare_data.get_source_data()
/Users/basuluu/free/agrohack/pipeline/create_dataset.py:52: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  result_events = rows_in_date_range[

In [70]:
# dataset = add_column_days_of_treatment(dataset, intervals)
len(intervals)

4338

In [12]:
filer_by_days_before_after_event(data, 11, days_before=0, days_after=100)

,Номер животного,Ушная бирка животного,Пол,Номер лактации,Результат отела,Легкость отела,Дата рождения,Дней в сухостое предыдущей лактации,Дней стельности при событии,Номер группы животного,Предыдущий номер группы животного,Событие,Дни доения при событии,Дата события,Примечание события
86919,607064,607064,F,2,MA,1,2016-07-12,61,189,12,12,11,90,2019-09-30,11
86920,607064,607064,F,2,MA,1,2016-07-12,61,189,12,12,28,90,2019-09-30,ЛК
82841,400085,400085,F,4,MA,1,2014-03-30,63,153,6,12,11,130,2019-09-30,11
82840,400085,400085,F,4,MA,1,2014-03-30,63,153,6,12,28,130,2019-09-30,ДС
86243,603081,603081,F,2,FA,1,2016-03-14,55,153,5,10,11,131,2019-09-30,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587838,809080,809080,F,3,MA,1,2018-09-14,57,0,1,1,17,62,2022-09-15,F001T002
576585,7167,7167,F,1,FA,1,2020-07-22,0,0,9,9,13,62,2022-09-15,1H15879
576918,8162,8162,F,1,FA,1,2020-08-19,0,0,9,9,13,63,2022-09-15,1H15879
591595,911173,911173,F,2,FA,1,2019-11-21,56,0,4,4,13,63,2022-09-15,1H15879
577592,9224,9224,F,1,FA,1,2020-09-27,0,0,9,9,13,60,2022-09-15,1H15879

In [5]:
dataset

,Номер животного,Ушная бирка животного,Пол,Номер лактации,Результат отела,Легкость отела,Дата рождения,Дней в сухостое предыдущей лактации,Дней стельности при событии,Номер группы животного,Предыдущий номер группы животного,Событие,Дни доения при событии,Дата события,Примечание события,MOTHER_ID,FATHER_ID,MOTHER_FATHER_ID
5563,507054,507054,F,2,FA,1,2015-07-09,56,276,18,18,9,319,2019-03-05,ТМ5_3,1633,COUNTRY,0
7151,603016,603016,F,2,FA,1,2016-03-03,60,0,43,13,9,30,2019-03-06,МВ,404003,TOUCH,KAMPMAN
4440,502124,502124,F,3,FA,1,2015-02-18,146,0,3,2,9,23,2019-03-10,МВ,457,WYN,0
7359,603126,603126,F,2,MA,1,2016-03-24,55,277,18,18,9,25,2019-03-10,МВ,405060,EDENS,PILOT
5138,505082,505082,F,2,FA,1,2015-05-14,56,270,18,18,9,324,2019-03-10,МВ,112043,CLAYK,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579042,11172,11172,F,1,FA,1,2020-11-17,0,0,21,43,9,2,2022-09-06,КМ4_134,901033,1H12902,777H10532
587953,810028,810028,F,3,FA,1,2018-10-07,62,0,21,43,9,3,2022-09-06,КМ1_12,411155,200H10446,DISTANCE
586425,708093,708093,F,4,FA,1,2017-08-12,68,0,21,43,9,3,2022-09-07,КМ3_3,179,LOVEBOAT,0
587836,809080,809080,F,3,MA,1,2018-09-14,57,0,3,1,9,55,2022-09-08,КМ6_4,611146,777H528,YUENGLIN
577059,8235,8235,F,1,FA,1,2020-08-26,0,0,3,43,9,42,2022-09-08,КМ5_34,811150,1H12902,777H10755

In [133]:
list(dataset['Номер животного'].unique())

[507054,
 603016,
 502124,
 603126,
 505082,
 501052,
 605082,
 601143,
 408121,
 502055,
 602133,
 410016,
 502091,
 410126,
 411156,
 503098,
 503103,
 704134,
 404141,
 410083,
 502149,
 407100,
 504120,
 503034,
 404149,
 406107,
 411127,
 508010,
 511040,
 507149,
 605135,
 604142,
 507093,
 507077,
 412127,
 405083,
 409072,
 409080,
 510140,
 404030,
 412079,
 404035,
 405078,
 603040,
 412126,
 603003,
 501146,
 604054,
 501184,
 405114,
 604128,
 507014,
 506150,
 405065,
 500727,
 2389,
 202049,
 701065,
 202053,
 312031,
 209078,
 1978,
 611132,
 608146,
 205023,
 611105,
 701058,
 609075,
 400193,
 611075,
 609101,
 400171,
 304028,
 5206,
 609012,
 702049,
 87492,
 702674,
 400130,
 311068,
 701094,
 307014,
 310067,
 610068,
 211099,
 601172,
 512110,
 602165,
 502110,
 321,
 405035,
 504044,
 407097,
 410003,
 411058,
 402068,
 5094,
 400377,
 704074,
 400117,
 503057,
 302090,
 701192,
 601186,
 605107,
 602140,
 704123,
 702129,
 411137,
 408106,
 412039,
 506019,
 505009,
 404089,
 403174,
 604141,
 602075,
 410085,
 502108,
 406073,
 405017,
 703125,
 601110,
 410069,
 608086,
 701109,
 408065,
 511095,
 311134,
 408019,
 704016,
 504058,
 505156,
 412048,
 404073,
 705121,
 508013,
 412151,
 703126,
 1540,
 611126,
 411011,
 507092,
 605098,
 601165,
 402083,
 611011,
 304051,
 611003,
 401178,
 311139,
 701121,
 606058,
 610053,
 312163,
 611004,
 410024,
 503156,
 608163,
 401076,
 701075,
 209168,
 411009,
 608059,
 209365,
 412035,
 611182,
 610114,
 601146,
 511010,
 601161,
 412031,
 501048,
 311092,
 402276,
 609017,
 400106,
 612148,
 405041,
 502129,
 607047,
 411102,
 306010,
 604180,
 411008,
 212099,
 608138,
 412141,
 603169,
 411049,
 402011,
 512018,
 603154,
 703143,
 505161,
 604125,
 705005,
 402132,
 208094,
 508079,
 706163,
 506037,
 401023,
 507113,
 501188,
 1867,
 311065,
 605143,
 410014,
 612127,
 611052,
 405043,
 403180,
 704005,
 502132,
 510032,
 402150,
 610031,
 501058,
 702039,
 501051,
 606172,
 311063,
 511046,
 511121,
 506017,
 501190,
 500459,
 605139,
 407024,
 411124,
 211102,
 506128,
 507019,
 707058,
 512036,
 412093,
 411089,
 402259,
 607152,
 708197,
 310121,
 605083,
 508062,
 403236,
 410119,
 603131,
 412155,
 502099,
 503100,
 602035,
 402178,
 501121,
 505079,
 308094,
 505112,
 507016,
 406010,
 603066,
 403219,
 411131,
 506103,
 403036,
 402045,
 211092,
 704032,
 504019,
 512024,
 502013,
 304034,
 604069,
 605128,
 500805,
 406003,
 608050,
 402056,
 504082,
 505039,
 701054,
 309023,
 612085,
 312029,
 312190,
 406059,
 608063,
 604152,
 501037,
 606112,
 707068,
 403091,
 512093,
 602056,
 412018,
 503153,
 504012,
 603018,
 601169,
 708067,
 4392,
 406052,
 3462,
 502064,
 603133,
 611151,
 506069,
 512011,
 702045,
 506005,
 409060,
 602120,
 506046,
 1769,
 601009,
 312155,
 403107,
 704111,
 602037,
 605103,
 606003,
 412097,
 402144,
 607103,
 506079,
 501009,
 705159,
 503021,
 311103,
 502098,
 504098,
 601028,
 309061,
 506025,
 603075,
 603170,
 403061,
 405092,
 512058,
 706051,
 610077,
 612019,
 503052,
 412119,
 610162,
 509032,
 411109,
 608095,
 705156,
 506022,
 705007,
 604041,
 612057,
 608103,
 402258,
 312039,
 675,
 704050,
 410108,
 705058,
 784,
 4258,
 506100,
 605023,
 605019,
 604150,
 505088,
 407079,
 308124,
 403153,
 403144,
 504038,
 408044,
 601144,
 607107,
 608131,
 706165,
 706031,
 210265,
 503159,
 501128,
 405025,
 512162,
 609030,
 405070,
 503130,
 2745,
 508043,
 706113,
 504143,
 310110,
 512175,
 609053,
 2076,
 406083,
 611160,
 407148,
 407126,
 512086,
 707062,
 307054,
 506007,
 706129,
 612084,
 612167,
 709157,
 704043,
 608014,
 612033,
 604158,
 612054,
 601072,
 603019,
 403076,
 507069,
 503027,
 707070,
 201092,
 603146,
 405087,
 710057,
 504021,
 601141,
 308024,
 410067,
 308112,
 708147,
 502015,
 708011,
 709055,
 512017,
 408014,
 611061,
 506044,
 602111,
 2512,
 709155,
 209024,
 605142,
 502089,
 403062,
 703114,
 506123,
 708066,
 609176,
 610033,
 606025,
 605146,
 409101,
 408143,
 509125,
 510012,
 606125,
 706002,
 612144,
 509017,
 508139,
 701023,
 403155,
 607096,
 505055,
 507068,
 612174,
 702121,
 605137,
 404121,
 611147,
 504170,
 404165,
 701142,
 609063,
 707124,
 511047,
 401150,
 704014,
 403075,
 510011,
 610045,
 610105,
 603023,
 605050,
 604033,
 707048,
 407021,
 507048,
 706154,
 707012,
 709065,
 502060,
 312139,
 706151,
 708044,
 711202,
 606164,
 608098,
 403194,
 609108,
 610073,
 404098,
 602052,
 405105,
 605117,
 608067,
 502168,
 505061,
 712092,
 503132,
 505157,
 502133,
 611085,
 605070,
 608175,
 412158,
 605131,
 411144,
 603051,
 403032,
 501090,
 512021,
 611076,
 507066,
 507064,
 507086,
 609106,
 609042,
 612065,
 605132,
 608030,
 402089,
 410046,
 309027,
 702132,
 706015,
 501143,
 710126,
 401155,
 608129,
 711154,
 611023,
 504124,
 604189,
 504096,
 603155,
 710104,
 505118,
 3337,
 709108,
 703147,
 601168,
 405077,
 410107,
 707066,
 503019,
 611034,
 711134,
 504084,
 708193,
 406074,
 2580,
 605086,
 708127,
 701166,
 711072,
 402179,
 712089,
 603163,
 507133,
 304025,
 609073,
 711217,
 502048,
 612040,
 503123,
 704125,
 304066,
 711207,
 709058,
 704105,
 612072,
 601164,
 605020,
 710112,
 709042,
 408113,
 605112,
 506113,
 611089,
 506057,
 602171,
 701157,
 709139,
 502130,
 703047,
 707127,
 711065,
 611130,
 412082,
 510016,
 712104,
 607014,
 603144,
 309104,
 501210,
 608109,
 709156,
 603132,
 606144,
 706159,
 510062,
 511005,
 409039,
 411074,
 606120,
 408017,
 310078,
 410120,
 511085,
 501017,
 512079,
 407114,
 608023,
 2591,
 404077,
 501196,
 504172,
 401024,
 411035,
 711136,
 708062,
 611081,
 801060,
 703026,
 500765,
 412132,
 702158,
 612184,
 403143,
 801188,
 609044,
 603134,
 608060,
 209044,
 607057,
 612182,
 504144,
 407119,
 608075,
 900993,
 610014,
 410114,
 609018,
 701024,
 707148,
 609157,
 710037,
 606151,
 703133,
 709092,
 609029,
 701062,
 710033,
 405074,
 408078,
 802191,
 702104,
 707084,
 609168,
 801055,
 610036,
 601133,
 702009,
 801266,
 610075,
 801230,
 401099,
 706088,
 801174,
 801108,
 801224,
 403184,
 802057,
 602063,
 612120,
 504050,
 707112,
 611167,
 603067,
 607036,
 209073,
 506135,
 801172,
 712122,
 308095,
 609116,
 612077,
 710064,
 605067,
 608165,
 701080,
 610150,
 604101,
 608130,
 501173,
 801026,
 802112,
 709147,
 801076,
 608015,
 702089,
 402307,
 612063,
 712067,
 712165,
 708163,
 409068,
 410036,
 702043,
 607140,
 803025,
 711132,
 509050,
 609068,
 801197,
 411010,
 601179,
 711089,
 701078,
 703145,
 710018,
 611038,
 410118,
 708144,
 802182,
 707038,
 802125,
 507146,
 802015,
 711163,
 408022,
 610080,
 711012,
 507004,
 712011,
 803057,
 500789,
 701068,
 701010,
 802099,
 708173,
 801192,
 400301,
 706064,
 2522,
 803028,
 803068,
 803115,
 704139,
 609034,
 605037,
 707094,
 408075,
 507046,
 711088,
 609162,
 712003,
 602085,
 605113,
 804032,
 708030,
 709146,
 802143,
 504151,
 400328,
 707139,
 310135,
 711064,
 706096,
 410019,
 512016,
 503004,
 709128,
 510074,
 404025,
 504007,
 804190,
 712137,
 512149,
 502009,
 802043,
 711210,
 404092,
 707130,
 802045,
 712063,
 709039,
 610017,
 512077,
 412147,
 712047,
 609031,
 404158,
 506098,
 703021,
 801272,
 709029,
 508041,
 803062,
 803111,
 604094,
 509107,
 801255,
 705129,
 801001,
 604096,
 802059,
 712080,
 504054,
 407018,
 801265,
 610009,
 511044,
 602096,
 801084,
 711185,
 711147,
 407110,
 801090,
 405059,
 701141,
 3762,
 607086,
 709158,
 503054,
 609021,
 801058,
 603123,
 607044,
 401190,
 708002,
 612089,
 801178,
 610092,
 601109,
 703070,
 708108,
 411128,
 612066,
 612039,
 702053,
 610085,
 607092,
 801124,
 804138,
 708064,
 505130,
 412075,
 702162,
 710114,
 803039,
 508073,
 612041,
 605119,
 212022,
 602116,
 801109,
 504154,
 506077,
 507013,
 606130,
 804179,
 712074,
 801175,
 502131,
 501168,
 507143,
 409038,
 704029,
 612062,
 608037,
 512025,
 611162,
 511079,
 708132,
 802061,
 212104,
 805130,
 805112,
 705086,
 401161,
 702093,
 711016,
 804091,
 509102,
 709134,
 601166,
 802046,
 405021,
 610008,
 705003,
 805149,
 803180,
 604028,
 505044,
 802016,
 801181,
 604090,
 706086,
 708106,
 803118,
 1935,
 710135,
 804054,
 805164,
 806096,
 505105,
 512008,
 601093,
 606098,
 408020,
 805069,
 510019,
 411071,
 712012,
 403029,
 308150,
 801152,
 702044,
 404008,
 503083,
 806045,
 709081,
 609160,
 805096,
 805006,
 801155,
 711114,
 608118,
 609040,
 501152,
 801274,
 705026,
 801191,
 501211,
 606179,
 602134,
 806144,
 701118,
 805004,
 712160,
 501073,
 504116,
 701143,
 711077,
 806094,
 805049,
 211139,
 701160,
 608003,
 708006,
 301010,
 605121,
 709170,
 709112,
 806036,
 804158,
 602067,
 603171,
 705054,
 807046,
 807025,
 403072,
 605084,
 610096,
 801004,
 702152,
 403095,
 404152,
 705081,
 701002,
 602024,
 701050,
 407078,
 705108,
 506035,
 806145,
 808022,
 508113,
 501054,
 711153,
 712040,
 504088,
 804125,
 704141,
 704070,
 705027,
 603094,
 611006,
 604122,
 401142,
 806103,
 804082,
 801248,
 ...]

In [44]:
def filer_by_days_before_after_event(dt, event, days_before, days_after):
    rows_indexes_in_event_range = set()
    for cow_id in dt["Номер животного"].unique():
        dt_cow_rows = dt[dt["Номер животного"] == cow_id].copy()
        dt_cow_rows[dt_cow_rows["Событие"] == event]
        event_dates = dt_cow_rows[dt_cow_rows["Событие"] == event][
            "Дата события"
        ].values
        for event_date in event_dates:
            opened_range_date = event_date - timedelta(days=days_before)
            solved_range_date = event_date + timedelta(days=days_after)
            rows_in_range = dt_cow_rows[
                (dt_cow_rows["Дата события"] >= opened_range_date)
                & (dt_cow_rows["Дата события"] <= solved_range_date)
            ]
            rows_indexes_in_event_range.update(set(rows_in_range.index))
    return dt[dt.index.isin(rows_indexes_in_event_range)].copy()

dt_cow_rows = dt[dt["Номер животного"] == 607083]
filer_by_days_before_after_event(dt, "ОТЕЛ", 30, 30)

,Номер животного,Ушная бирка животного,Пол,Номер лактации,Результат отела,Легкость отела,Дата рождения,Дней в сухостое предыдущей лактации,Дней стельности при событии,Номер группы животного,Предыдущий номер группы животного,Событие,Дни доения при событии,Дата события,Примечание события
125,8136,8136,F,1,FA,1,8/17/2020,0,0,44,8,ПЕРЕВОД,0,2022-07-01,F044T021
126,8136,8136,F,1,FA,1,8/17/2020,0,0,18,8,ОТЕЛ,0,2022-07-01,-
352,612062,612062,F,4,MA,1,12/12/2016,63,0,44,21,ПРОФОТ,0,2022-07-01,ПРОФ2
353,612062,612062,F,4,MA,1,12/12/2016,63,0,18,21,ОТЕЛ,0,2022-07-01,-
431,811180,811180,F,3,MA,1,11/24/2018,57,0,44,10,ПРОФОТ,0,2022-07-01,ПРОФ2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11469,912066,912066,F,2,FA,1,12/8/2019,59,0,2,4,РАСЧКОП,9,2022-07-26,РДК
11488,912104,-,F,1,MD,1,12/12/2019,0,253,17,17,СУХ2,312,2022-07-13,-
11489,912104,-,F,1,MD,1,12/12/2019,0,253,17,17,ВАКЦИН,312,2022-07-13,СКОУ
11490,912104,-,F,2,FD,1,12/12/2019,37,0,18,18,ОТЕЛ,0,2022-07-16,-
11491,912104,-,F,2,FD,1,12/12/2019,37,0,44,18,ПРОДАНА,1,2022-07-17,ПРОДАНА ; Прочее ; УВЗ2

,Номер животного,Ушная бирка животного,Пол,Номер лактации,Результат отела,Легкость отела,Дата рождения,Дней в сухостое предыдущей лактации,Дней стельности при событии,Номер группы животного,Предыдущий номер группы животного,Событие,Дни доения при событии,Дата события,Примечание события
9131,607083,-,F,4,FA,1,7/16/2016,64,279,45,18,БОЛЕЗНЬ,340,2022-07-18,ПУТЫ
9132,607083,-,F,4,FA,1,7/16/2016,64,279,18,18,ПЕРЕВОД,340,2022-07-18,F018T045
9133,607083,607083,F,5,FA,1,7/16/2016,63,0,45,45,ОТЕЛ,0,2022-07-21,-
9134,607083,607083,F,5,FA,1,7/16/2016,63,0,44,45,НЕОСЕМ,5,2022-07-26,СУСТАВ
9135,607083,607083,F,5,FA,1,7/16/2016,63,0,44,45,ПРОДАНА,7,2022-07-28,ПРОДАНА ; Причина 12 ; УВЗ12

In [31]:
for event_type in EVENTS:
    print(event_type)

АБОРТ
БОЛЕЗНЬ
ВАКВИРУС
ВАКЦИН
ВЕС
ДЕФЕКТ
ЗДОРОВА
КЕТОЗ
МАСТИТ
МЕТРИТ
НА_СХЕМУ
НЕОСЕМ
ОСЕМЕН
ОТЕЛ
ПАЛА
ПАРЕЗ
ПЕРЕВОД
ПОСЛЕД
ПРОДАНА
ПРОФОТ
РАСЧКОП
СО_СХЕМЫ
СТЕЛН
СТЕЛНДО
СУХ2
СУХОСТ
ХРОМОТА
ЯЛОВАЯ
ABORT
BRED
DNB
DRY
FOOTRIM
FRESH
ILLMISC
KETOS
LAME
MAST
METR
MOVE
NULSCM
OPEN
POT
RP
SOLD
TOSCM
WEIGHT
WELL

In [50]:
data[data["Пол"] == "M"]

,Номер животного,Ушная бирка животного,Пол,Номер лактации,Результат отела,Легкость отела,Дата рождения,Дней в сухостое предыдущей лактации,Дней стельности при событии,Номер группы животного,Предыдущий номер группы животного,Событие,Дни доения при событии,Дата события,Примечание события
342,102570,102570,M,0,NaN,0,6/21/2022,0,0,15,15,ЗДОРОВА,10,7/1/2022,ПРОЧИЕ
343,102581,102581,M,0,NaN,0,6/23/2022,0,0,15,15,БОЛЕЗНЬ,8,7/1/2022,ПНЕВМО1
344,102585,102585,M,0,NaN,0,6/26/2022,0,0,15,15,БОЛЕЗНЬ,5,7/1/2022,ПНЕВМО1
345,102598,102598,M,0,NaN,0,7/1/2022,0,0,15,15,ВЕС,0,7/1/2022,38
346,102599,102599,M,0,NaN,0,7/1/2022,0,0,15,0,ВЕС,0,7/1/2022,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9045,102682,102682,M,0,NaN,0,7/31/2022,0,0,15,0,ВЕС,0,7/31/2022,39
9046,102683,102683,M,0,NaN,0,7/31/2022,0,0,15,0,ВЕС,0,7/31/2022,39
9047,102684,102684,M,0,NaN,0,7/31/2022,0,0,15,15,ВЕС,0,7/31/2022,39
9048,102685,102685,M,0,NaN,0,7/31/2022,0,0,15,15,ВЕС,0,7/31/2022,40
9049,102686,102686,M,0,NaN,0,7/31/2022,0,0,15,0,ВЕС,0,7/31/2022,37

In [52]:
type(range(1,3))

range

In [2]:
from .pipeline import event_categories

ImportError: attempted relative import with no known parent package